@model Category

<form method="post">
    @*    
    if the Id name was something other than Id, 
    like CategoryId, SN, then this would be required
    <input asp-for="Id" hidden />*@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary ">Create Category</h2>
            <hr />
        </div>
        <div class="mb-3 row removeOutline">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row removeOutline">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        @*ModelOnly -> shows the error message of user given validation metrics eg: test word
        <div asp-validation-summary="ModelOnly"></div*@

        @* Style of Create and Back button *@
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control"><i class="bi bi-plus-square-dotted"></i> Create</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control"><i class="bi bi-caret-left"></i> Back</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    } 
}